{% extends 'layouts.html' %} {% block title %} Login Page {% endblock %} {% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="text-center">Register a new account</h2>
        </div>

    </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-4">
                <h4 class="text-center">Create an account</h4>
                <hr>

                <!--https://simpleisbetterthancomplex.com/tips/2016/09/06/django-tip-14-messages-framework.html-->
                <hr> {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> {{ message }}
                </div>
                {% endfor %}

                <!--form action="contact" method="post" role="form" class="php-email-form"-->
                <form action="" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" data-rule="minlen:3" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" data-rule="minlen:3" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="New Password" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" />
                        <div class="validate"></div>
                    </div>
                    <div class="text-center"><br>
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                    </div>
                </form>
                <small>Already have an account <a href="{% url 'login'%}">Login !</a></small>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
{% endblock %}